body{
    margin-top: 20px;
    background-color: #7c62d8;
}
.main{
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.topbar{
    background-color: #5f04f1;
    text-decoration-color: cornsilk;
    text-align: right;
    overflow: hidden;
}
.topbar a{
    float: right;
    color: whitesmoke;
    text-align: right;
    padding: 20px 26px;
    text-decoration: none;
    font-size: 26px;
}
.sidebar{
    background-color: rgb(101, 101, 207);
    color: whitesmoke;
    height: 100%;
}
.sidebar a{
    margin-left: 10px;
    display: block;
    color: white;
    padding-bottom: 10px;
    font-size: 30px;
    text-decoration: none;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
   
}
.content{
    background-color: whitesmoke;
}